// Imports [ Fonts]
// ------------------------------------------------------
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;900&display=swap');

// Colors
// --------------------------------
$mm-color-black         :       #000000;
$mm-color-white         :       #FFFFFF;
$mm-bg-color            :       #FFFFFF;
$mm-header-bg-color     :       #F9F9F9;
// Card
$mm-card-selected       :       #2D2D2D;
$mm-card-placeholder-bg :       rgb(51, 51, 51);

// Form
$mm-form-placeholder    :   #616161;
$mm-form-input-bg       :   #F9F9F9;
$mm-form-select-border  :   #DEDEDE;
$mm-form-border-color   :   #CACACA;
$mm-form-separator      :   #E2E2E2;

// Modal
$mm-modal-add-border    :   #848484;

// Table
$mm-table-head-color    :   #222222;
$mm-table-head-bg       :   #F9F9F9;

// Slidepanel
$mm-slidepanel-bg               :       #FFFFFF;
$mm-slidepanel-label-color      :       #6D6D6D;
$mm-slidepanel-strong-color     :       #222222;

// Breadcrum
$mm-breadcrumb-color            :   #222222;
$mm-breadcrumb-link-hover       :   #F9F9F9;
// Carousel
$mm-carousel-bg         :   #F9F9F9;

// Move
$mm-move-color          :   #222222;
$mm-move-hover-bg       :   #F9F9F9;
$mm-move-active-bg      :   #f3f3f3;


// Context Menu
$mm-ctx-item-color      :       #333333;
$mm-ctx-item-color-hv   :       #007aff;
$mm-ctx-divider         :       #c0cdd1;

// Fonts
// ------------------------------------------------------
$font-family-header     :    'Barlow', sans-serif;
$font-family-base       :    'Open Sans', sans-serif;

$base-font-size         :     16px;

$weight-regular         :     400;
$weight-semi-bold       :     600;
$weight-bold            :     900;

// Dimensions
// ------------------------------------------------------

// Grid
$grid-gutter-results       :        20px;

// Buttons
$button-add-dimension      :        98px;

// Form
$form-input-width          :        360px;
