// Buttons
.btn {
    font-family: $font-family-header;
    text-align: center;
    text-decoration: none;
    border-radius: em-calc(3px);

    &-rounded {
        box-shadow: 0 2px 12px 0 rgba(0,0,0,0.25);
        color: $mm-color-white;
        border: none;
        border-radius: 150px;
        width: $button-add-dimension;
        height: $button-add-dimension;
        cursor: pointer;
    }

    &-add {
        position: fixed;
        right: em-calc(10px);
        bottom: em-calc(10px);
        &:hover {
            transform: scale(1.1);
            transition: all 0.2s ease-in-out;
        }
    }

    &-default {
        text-transform: uppercase;
        color: white;
    }

    &-default-border {
        border-width: 3px;
        border-style: solid;
        text-transform: uppercase;
        color: white;
    }

    &-delete {
        font-weight: 100;
        text-transform: uppercase;
        text-decoration: underline;
    }
}
