// Icons

.i {
    &-add {
        background: url('./../img/icon-add.svg');
        display: block;
        width: em-calc(38px);
        height: em-calc(38px);
        margin: 0 auto;
    }

    &-list {
        background: url('./../img/icon-list.svg');
        display: block;
        width: em-calc(25px);
        height: em-calc(21px);
        margin: 0 auto;
    }

    &-grid {
        background: url('./../img/icon-grid.svg');
        display: block;
        width: em-calc(20px);
        height: em-calc(23px);
        margin: 0 auto;
    }
}
