// @import './../../node_modules/vue-simple-context-menu/dist/vue-simple-context-menu.css';

// 01-settings
@import '01-settings/reset';
@import '01-settings/variables';

// 02-tools
@import '02-tools/mixins';
@import '02-tools/animations';
@import '02-tools/classes';

// 03-base
@import '03-base/typography';

// 04-Layouts
@import '04-layouts/grid';

// 05-components
@import '05-components/main-container';
@import '05-components/header';
@import '05-components/search';
@import '05-components/buttons';
@import '05-components/context';
@import '05-components/icons';
@import '05-components/card';
@import '05-components/slidepanel';
@import '05-components/form';
@import '05-components/modal';
@import '05-components/breadcrumb';
@import '05-components/table';
@import '05-components/carousel';
@import '05-components/dropzone';
@import '05-components/move';
@import '05-components/toast';
@import '05-components/loader';

// For Demo Only
// NOTE: This can be remove

body {
	// background: $mm-bg-color;

	&.mm__carousel-open {
		.btn-add {
			bottom: 6em;
		}
	}
}

.app-container {
	background: #2d2d2d;
	display: grid;
	grid-template-columns: 24% auto;
	min-height: 100vh;
}

.debug {
	display: none;
	background-color: black;
	color: white;
	position: fixed;
	width: 50%;
	border: 3px solid red;
	padding: 2em;
	left: 0;
	top: 0;
	z-index: 9999;
}
