@import url(https://fonts.googleapis.com/css2?family=Barlow:wght@800&display=swap);@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;

600&display=swap);@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Enter and leave animations can use different */

/* durations and timing functions.              */

.slide-fade-enter-active {
  transition: all 0.3s ease;
}

.slide-fade-leave-active {
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter,
.slide-fade-leave-to {
  transform: translateX(10px);
  opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.margin__top {
  margin-top: 1em;
}

.margin__bottom {
  margin-top: 1em;
}

h1 {
  font-size: 1.875em;
  font-family: "Barlow", sans-serif;
  text-transform: uppercase;
}

h2 {
  font-size: 1.3125em;
  font-family: "Barlow", sans-serif;
  text-transform: uppercase;
}

h3 {
  font-size: 0.875em;
  font-family: "Open Sans", sans-serif;
}

b,
strong {
  font-weight: bold;
}

.columns {
  display: grid;
}

.columns__1 {
  grid-template-columns: repeat(1, 1fr);
}

.columns__2 {
  grid-template-columns: repeat(2, 1fr);
}

.wrapper {
  max-width: 90%;
  margin: 0 auto;
}

.mm {
  background: #FFFFFF;
}

.mm__empty {
  text-align: center;
  opacity: 0.5;
}

.mm__empty h2 {
  font-size: 1.125em;
}

.mm__empty h3 {
  font-family: "Open Sans", sans-serif;
  margin-top: 0.5em;
  font-size: 0.8125em;
}

.mm__empty h3 a {
  font-weight: 600;
  color: inherit;
}

.mm__header {
  background: #F9F9F9;
  padding: 2.5em 0;
}

.mm__search-close {
  position: absolute;
  right: -3.5em;
}

.mm__search-no-result h3 {
  font-size: 1.5em;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.mm__search-container {
  display: grid;
  margin: 2.375em 0 0 0;
  grid-template-columns: auto auto;
  -moz-column-gap: 4em;
       column-gap: 4em;
  box-sizing: border-box;
  width: 100%;
  align-items: center;
  height: 4em;
}

.mm__search-container.is-open .mm__search-icon-create {
  position: relative;
  top: 2px;
}

.mm__search-breadcrumb {
  float: right;
}

.mm__search-actions {
  float: right;
  text-align: right;
}

.mm__search-actions ul {
  display: inline-flex;
}

.mm__search-actions ul li {
  display: flex;
  margin-right: 1.125em;
}

.mm__search-actions ul li.separator {
  border-right: 1px solid #ECECEC;
  padding-right: 0.625em;
}

.mm__search-actions ul li a:hover {
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
}

.mm__search-actions ul li a.active {
  opacity: 0.25;
}

.mm__search-deselect {
  font-size: 0.8125em;
  color: #222222;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  position: relative;
  top: 4px;
}

.mm__search-term {
  position: relative;
}

.mm__search-term input {
  width: 100%;
  display: inline-block;
  background: #F9F9F9;
  border-radius: 24px;
  border: none;
  padding: 12px;
  min-height: 1.875em;
  box-sizing: border-box;
}

.mm__search-term input::-moz-placeholder {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  color: #616161;
}

.mm__search-term input:-ms-input-placeholder {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  color: #616161;
}

.mm__search-term input::placeholder {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  color: #616161;
}

.mm__search-term svg {
  right: 1em;
  position: relative;
}

.mm__search-term div {
  position: absolute;
  top: 0.5em;
  right: 0;
}

.mm__search-select {
  background: url("/images/icon-select.svg");
  background-repeat: no-repeat;
  background-position: center right 1em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  font-family: "Open Sans", sans-serif;
  font-size: 0.875em;
  font-weight: 100;
  box-sizing: border-box;
  padding: 0.625em 7.5em 0.625em 0.625em;
  border: 1px solid #DEDEDE;
  border-radius: 4px;
  color: #616161;
  line-height: 19px;
  cursor: pointer;
}

.mm__search-select:last-child {
  margin-left: 1em;
}

.mm__results-grid {
  display: grid;
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  padding: 1.3125em 0;
}

.mm__results-single {
  position: relative;
  border: 2px solid transparent;
  transition: all 0.2s ease-in-out;
}

.mm__results-single.hide {
  display: none;
}

.mm__results-single.active {
  transition: all 0.2s ease-in-out;
  border-radius: 0.3125em;
  border: 2px solid #2D2D2D;
  box-shadow: 0 1px 1px 0 rgba(59, 72, 77, 0.08), 0 1px 3px 1px rgba(59, 72, 77, 0.16);
}

.mm__results-empty {
  display: grid;
  padding: 1.3125em 0;
  background-color: #F5F5F5;
  height: 400px;
  margin-top: 1em;
  text-align: center;
}

.btn {
  font-family: "Barlow", sans-serif;
  text-align: center;
  text-decoration: none;
  border-radius: 0.1875em;
}

.btn[disabled] {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.5;
  filter: grayscale(1);
}

.btn-rounded {
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.25);
  color: #FFFFFF;
  border: none;
  border-radius: 150px;
  width: 98px;
  height: 98px;
  cursor: pointer;
}

.btn-add {
  position: fixed;
  right: 3em;
  bottom: 3em;
  z-index: 999;
}

.btn-add:hover {
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
}

.btn-default {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: white;
  padding: 0.875em 3em;
  border-width: 3px;
  border-style: solid;
}

.btn-default-border {
  border-width: 3px !important;
  border-style: solid !important;
  text-transform: uppercase;
  padding: 0.875em 1.75em;
}

.btn-delete {
  font-weight: 100;
  padding: 0.875em 3em;
  font-size: 0.75em;
  text-transform: uppercase;
  text-decoration: underline;
}

.btn-link {
  color: inherit;
  font-family: "Open Sans", sans-serif;
  text-decoration: underline;
  font-weight: 600;
}

.vue-simple-context-menu {
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  display: none;
  list-style: none;
  position: absolute;
  z-index: 1000000;
  background-color: #FFFFFF;
  border-bottom-width: 0px;
  font-family: "Open Sans", sans-serif;
  font-size: 0.875em;
  box-shadow: 0 3px 6px 0 rgba(51, 51, 51, 0.2);
  border-radius: 4px;
}

.vue-simple-context-menu--active {
  display: block;
}

.vue-simple-context-menu__item {
  display: flex;
  color: #333333;
  cursor: pointer;
  padding: 5px 15px;
  align-items: center;
}

.vue-simple-context-menu__item:hover {
  background-color: #007aff;
  color: #FFFFFF;
}

.vue-simple-context-menu__divider {
  box-sizing: content-box;
  height: 1px;
  background-color: #c0cdd1;
  padding: 4px 0;
  background-clip: content-box;
  pointer-events: none;
}

.vue-simple-context-menu li:first-of-type {
  margin-top: 4px;
}

.vue-simple-context-menu li:last-of-type {
  margin-bottom: 4px;
}

.icon-container {
  height: 120px;
  width: 120px;
  border-radius: 150px;
  margin: 0 auto;
  display: flex;
}

.icon-container svg {
  display: flex;
  align-self: center;
  float: none;
  clear: both;
  overflow: hidden;
  margin: 0 auto;
}

.i-add {
  background: url("/images/icon-add.svg");
  display: block;
  width: 2.375em;
  height: 2.375em;
  margin: 0 auto;
}

.i-minimize {
  cursor: pointer;
  background: url("/images/icon-minimize.svg");
  display: block;
  width: 1.3125em;
  height: 0.75em;
  margin: 0 auto;
  transition: all 0.2s ease-in-out;
}

.i-minimize:hover {
  opacity: 0.5;
  transition: all 0.2s ease-in-out;
}

.mm__card {
  overflow: hidden;
  border-radius: 5px;
  border: 2px solid transparent;
  box-shadow: 0 1px 1px 0 rgba(59, 72, 77, 0.08), 0 1px 3px 1px rgba(59, 72, 77, 0.16);
  transition: all 0.2s ease-in-out;
}

.mm__card:hover {
  cursor: pointer;
  box-shadow: 0 1px 20px 0 rgba(59, 72, 77, 0.08), 0 1px 3px 1px rgba(59, 72, 77, 0.46);
  transition: all 0.2s ease-in-out;
}

.mm__card.selected {
  transition: all 0.2s ease-in-out;
  border-radius: 0.3125em;
  border: 2px solid #2D2D2D;
  box-shadow: 0 1px 1px 0 rgba(59, 72, 77, 0.08), 0 1px 3px 1px rgba(59, 72, 77, 0.16);
}

.mm__card.selected:after {
  content: "";
  position: absolute;
  width: 4em;
  height: 4em;
  display: inline-block;
  top: -2em;
  right: -2em;
}

.mm__card-placeholder {
  display: grid;
  background: #333333;
  color: white;
  text-transform: uppercase;
  font-family: "Barlow", sans-serif;
  align-content: center;
  text-align: center;
}

.mm__card-default-placeholder {
  min-height: 174px;
}

.mm__card-infos {
  padding: 0.5625em;
}

.mm__card-infos h6 {
  color: #222222;
  font-family: "Open Sans", sans-serif;
  font-size: 0.75em;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 1.5em;
}

.mm__card-infos .type,
.mm__card-infos .date {
  color: #616161;
  font-family: "Open Sans", sans-serif;
  font-size: 0.625em;
  letter-spacing: 0;
  line-height: 14px;
}

.mm__slidepanel {
  overflow-x: hidden;
  overflow-y: visible;
  position: fixed;
  width: 350px;
  height: 100vh;
  background: #FFFFFF;
  top: 0;
  right: 0;
  box-shadow: 0 1px 1px 0 rgba(59, 72, 77, 0.08), 0 1px 3px 1px rgba(59, 72, 77, 0.16);
  z-index: 999;
}

.mm__slidepanel-btn-container .columns__1 {
  text-align: center;
  margin: 1.25em 0 3.75em 0;
}

.mm__slidepanel-btn-container .columns__2 {
  -moz-column-gap: 0.625em;
       column-gap: 0.625em;
}

.mm__slidepanel-close {
  float: right;
  background-repeat: no-repeat;
  display: inline-block;
  width: 1.375em;
  height: 1.375em;
  margin: 1.25em;
}

.mm__slidepanel-infos {
  margin: 0 auto;
  width: 90%;
  font-family: "Open Sans", sans-serif;
}

.mm__slidepanel-infos h5 {
  font-size: 1.125em;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 1.5em;
  text-align: left;
  padding: 1.3125em 0;
  border-bottom: 1px solid #E2E2E2;
  margin-bottom: 1.25em;
}

.mm__slidepanel-infos p {
  font-size: 0.875em;
  display: block;
  line-height: 2em;
  color: #6D6D6D;
  font-weight: 400;
}

.mm__slidepanel-infos p strong {
  font-weight: 600;
  color: #222222;
}

.mm__slidepanel .video-player,
.mm__slidepanel .audio-player {
  margin-top: 4em;
}

.mm__slidepanel .video-player audio,
.mm__slidepanel .audio-player audio {
  margin: 0 auto;
  display: block;
}

form {
  margin-top: 1.25em;
  border-top: 1px solid #E2E2E2;
  padding-top: 1.3125em;
}

form div {
  margin-bottom: 1em;
}

form div label {
  display: block;
  font-family: "Open Sans", sans-serif;
  font-size: 0.8125em;
  color: #6D6D6D;
  text-align: left;
  font-weight: 600;
  margin-bottom: 0.3125em;
}

form div textarea,
form div input {
  width: 100%;
  min-height: 2.5em;
  border: 1px solid #CACACA;
  border-radius: 3px;
  text-indent: 1em;
}

form div textarea {
  padding: 0.625em;
  font-family: "Open Sans", sans-serif;
  text-indent: 0em;
  resize: none;
}

input {
  cursor: pointer;
}

label {
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.125em;
  font-family: "Open Sans", sans-serif;
  cursor: text;
  transition: 0.25s ease;
}

.modal {
  background: #FFFFFF;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-width: 400px;
  display: inline-block;
  margin: 0 auto;
  position: absolute;
  top: 18vh;
  left: 0;
  right: 0;
  padding: 1.5625em;
  box-shadow: 0 1px 1px 0 rgba(59, 72, 77, 0.08), 0 1px 3px 1px rgba(59, 72, 77, 0.16);
  border-radius: 0.1875em;
  z-index: 2;
}

.modal__container .title {
  margin: 2rem 0;
}

.modal__container p {
  font-family: "Open Sans", sans-serif;
  line-height: 1.6em;
}

.modal__container .content-grid,
.modal__container label {
  font-size: 0.875em;
}

.modal__container input {
  margin-top: 0.4rem;
}

.modal__container .buttons__container-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  -moz-column-gap: 1em;
       column-gap: 1em;
}

.modal__container .buttons__container-wrapper div {
  text-align: center;
  width: 100%;
}

.modal__container .buttons__container-wrapper div .btn {
  display: block;
}

.modal__container-upload {
  border: 2px dashed #848484;
  margin-top: 2.5em;
}

.modal__container-upload h2 {
  text-align: center;
}

.modal-close {
  float: right;
}

.overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgba(245, 245, 245, 0.8);
  top: 0;
  z-index: 1;
}

.modal-add-folder {
  display: grid;
  grid-template-rows: repeat(3, auto);
}

.modal-add-folder .content-grid {
  display: grid;
  grid-template-rows: auto auto;
}

.modal-add-folder .icon-container {
  height: inherit;
  width: inherit;
}

.modal-add-folder input {
  margin: 1em 0;
  width: 100%;
  min-height: 30px;
  box-shadow: none !important;
  border: 2px solid #999 !important;
  border-radius: 4px;
  text-indent: 1em;
  font-size: 1em;
}

.modal-delete-folder {
  display: grid;
  grid-template-rows: 1fr 3fr 1fr;
}

.modal-delete-folder p {
  margin: 2em 0;
}

.illustration__folder {
  background: url("/images/illustration-folder.png") center center no-repeat;
  background-size: contain;
  height: 200px;
  width: 200px;
  display: block;
  margin: 0 auto;
}

.illustration__trash {
  background: url("/images/illustration-trash.png") center center no-repeat;
  background-size: contain;
  height: 200px;
  width: 200px;
  display: block;
  margin: 0 auto;
}

#breadcrumb li {
  display: inline-block;
  text-transform: capitalize;
}

#breadcrumb li:first-child:before {
  display: none;
}

#breadcrumb li:before {
  content: "/";
  margin: 0 0.6em;
  display: inline-block;
  position: relative;
}

#breadcrumb li a {
  font-family: "Open Sans", sans-serif;
  color: #222222;
  font-size: 0.875em;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
  padding: 0.5em 0.6em;
  border-radius: 150px;
}

#breadcrumb li a:hover {
  transition: all 0.5s ease-in-out;
  background: #F9F9F9;
}

table {
  width: 100%;
  margin: 1em 0;
  font-family: "Open Sans", sans-serif;
}

table thead {
  height: 50px;
}

table thead tr {
  background: #F9F9F9;
  box-shadow: 0 1px 1px 0 rgba(59, 72, 77, 0.08), 0 1px 3px 1px rgba(59, 72, 77, 0.16);
  border-radius: 5px;
}

table thead tr th {
  vertical-align: middle;
  font-family: "Open Sans", sans-serif;
  font-size: 0.875em;
  text-align: center;
  font-weight: 600;
  height: 2.375em;
  color: #222222;
}

table tbody tr td {
  vertical-align: middle;
  padding: 0.625em 0.625em;
  font-size: 0.875em;
}

table tr {
  box-shadow: 0 1px 1px 0 rgba(59, 72, 77, 0.08), 0 1px 3px 1px rgba(59, 72, 77, 0.16);
  border-radius: 5px;
}

.mm-table__input {
  text-align: center;
}

.mm__carousel {
  overflow-y: scroll;
  position: fixed;
  width: 100%;
  height: 300px;
  background: #F9F9F9;
  bottom: 0;
  left: 0;
  box-shadow: 0 1px 1px 0 rgba(59, 72, 77, 0.08), 0 1px 3px 1px rgba(59, 72, 77, 0.16);
  padding: 3.125em;
  box-sizing: border-box;
}

.mm__carousel.minify {
  bottom: -14.375em;
  overflow: hidden;
  padding: 1.625em;
}

.mm__carousel.minify .mm__carousel-minify-handler .i-minimize {
  transform: rotate(180deg);
}

.mm__carousel-items-counter {
  font-family: "Open Sans", sans-serif;
  font-size: 0.9375em;
  background: #ede7e7;
  border-radius: 150px;
  padding: 0.4em 1.4em;
}

.mm__carousel-minify-handler {
  float: right;
}

.mm__carousel-title {
  display: grid;
  grid-template-columns: auto auto 1fr;
  -moz-column-gap: 1.25em;
       column-gap: 1.25em;
  align-items: center;
}

.mm__carousel-reorder {
  overflow: hidden;
  margin: 1.875em 0;
  font-family: "Open Sans", sans-serif;
  font-size: 0.875em;
  line-height: 1.2em;
}

.mm__carousel-card {
  position: relative;
  cursor: move;
}

.mm__carousel-card span {
  background: #2D2D2D;
  color: white;
  box-shadow: 0 2px 11px 0 rgba(0, 0, 0, 0.25);
  position: absolute;
  display: inline-flex;
  align-items: center;
  height: 24px;
  padding: 4px 12px;
  border-radius: 9.375em;
  font-family: "Open Sans", sans-serif;
  font-size: 0.75em;
  top: -1em;
  right: -1em;
  font-weight: 900;
  cursor: pointer;
}

.mm__carousel-grid {
  grid-template-columns: 1fr;
  text-align: center;
  display: grid;
}

.mm__carousel-grid #draggable {
  display: grid;
  margin-bottom: 1em;
  -moz-column-gap: 1em;
       column-gap: 1em;
  row-gap: 1em;
  grid-template-columns: repeat(5, 1fr);
}

.mm__carousel .wefwefef {
  background: yellow;
  display: inherit;
}

.mm__carousel-btn-container {
  display: block;
  margin-top: 3.75em;
  text-align: center;
}

#dropzone {
  border: none;
  font-family: "Barlow", sans-serif;
  font-size: 1em;
  text-transform: uppercase;
  color: #000000;
  letter-spacing: 2px;
  text-align: center;
}

#dropzone .upload__illustration {
  background: url("/images/illustration-upload.svg") center center no-repeat;
  height: 244px;
  width: 100%;
  display: block;
}

.mm__move-container {
  margin-bottom: 2em;
}

.mm__move-single {
  display: grid;
  grid-template-columns: 1fr auto;
  -moz-column-gap: 20px;
       column-gap: 20px;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  align-items: center;
}

.mm__move-folder-list {
  max-height: 30vh;
  overflow-y: scroll;
}

.mm__move-folder-list li {
  border-radius: 4px;
  background-image: url("/images/icon-folder.svg");
  background-position: left center;
  background-repeat: no-repeat;
  padding-left: 2em;
}

.mm__move-folder-list li a {
  font-size: 15px;
}

.mm__move-folder-list li:hover {
  background-color: #F9F9F9;
}

.mm__move-folder-list li.mm__move-back {
  background-image: url("/images/icon-arrow-back.svg");
  background-size: contain;
  background-position: center left;
  background-repeat: no-repeat;
  position: relative;
  padding-left: 2em;
  margin-bottom: 1em;
}

.mm__move-folder-list li.mm__move-back a {
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  color: #222222;
  font-weight: 600;
}

.mm__move-folder-list li.mm__move-back a:hover {
  text-decoration: underline;
}

.mm__move-folder-list li.mm__move-back:hover {
  background-color: inherit !important;
}

.mm__move-folder-list li.active {
  background-color: #f3f3f3;
  background-image: url("/images/icon-folder.svg");
  background-position: left center;
  background-repeat: no-repeat;
}

.mm__move-folder-list li.active .mm__move-folder-title a :hover {
  transition: all 0.2s ease-in-out;
}

.mm__move-folder-title a {
  text-decoration: none;
  color: #222222;
  display: inline-block;
  padding: 0.8em 0.4em;
  width: 100%;
  box-sizing: border-box;
}

.mm__move-folder-handler a {
  background: url("/images/icon-arrow-next.svg") center center no-repeat;
  background-size: 100%;
  display: inline-block;
  position: relative;
  width: 36px;
  height: 36px;
  text-indent: -99999px;
}

.mm__move-folder-handler a:hover {
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
  background-image: url("/images/icon-arrow-next.svg") center center no-repeat;
  background-color: #e0e0e0;
}

.v-toast__text {
  font-family: "Open Sans", sans-serif;
  font-size: 0.8125em;
}

body {
  background: #FFFFFF;
}

body.mm__carousel-open .btn-add {
  bottom: 6em;
}

.app-container {
  background: #2D2D2D;
  display: grid;
  grid-template-columns: 24% auto;
  min-height: 100vh;
}

.debug {
  display: none;
  background-color: black;
  color: white;
  position: fixed;
  width: 50%;
  border: 3px solid red;
  padding: 2em;
  left: 0;
  top: 0;
  z-index: 9999;
}

