#dropzone {
	border: none;
	font-family: $font-family-header;
	font-size: em(16px);
	text-transform: uppercase;
	color: #000;
	letter-spacing: 2px;
	text-align: center;

	.upload__illustration {
		background: url('/images/illustration-upload.svg') center center no-repeat;
		height: 244px;
		width: 100%;
		display: block;
	}
}
