.mm {
	form {
		margin-top: em(20px);
		border-top: 1px solid $mm-form-separator;
		padding-top: em(21px);

		div {
			margin-bottom: em-calc(16px);

			label {
				display: block;
				font-family: $font-family-base;
				font-size: em-calc(13px);
				color: $mm-slidepanel-label-color;
				text-align: left;
				font-weight: $weight-regular;
				margin-bottom: em(5px);
			}

			textarea,
			input {
				width: 100%;
				min-height: em(40px);
				border: 1px solid $mm-form-border-color;
				border-radius: 3px;
				text-indent: 4px;
				font-size: 14px;
				box-sizing: border-box;
			}

			textarea {
				padding: em-calc(10px);
				font-family: $font-family-base;
				text-indent: 0;
				resize: none;
			}
		}
	}

	input {
		cursor: pointer;
	}

	label {
		color: rgba($mm-color-black, 0.5);
		font-size: em-calc(18px);
		font-family: $font-family-base;
		cursor: text;
		transition: 0.25s ease;
	}

	.switch {
		position: relative;
		display: inline-block;
		width: 30px;
		height: 17px;

		input {
			opacity: 0;
			width: 0;
			height: 0;

			&:checked + .switch-slider {
				background-color: #9C1820;
			}

			&:focus + .switch-slider {
				box-shadow: 0 0 1px #9C1820;
			}

			&:checked + .switch-slider::before {
				-webkit-transform: translateX(13px);
				-ms-transform: translateX(13px);
				transform: translateX(13px);
			}
		}
	}

	/* The slider */
	.switch-slider {
		position: absolute;
		cursor: pointer;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #ccc;
		-webkit-transition: 0.4s;
		transition: 0.4s;

		&::before  {
			position: absolute;
			content: "";
			height: 13px;
			width: 13px;
			left: 2px;
			bottom: 2px;
			background-color: white;
			-webkit-transition: 0.4s;
			transition: 0.4s;
		}
	}

	/* Rounded sliders */
	.switch-slider.round {
		border-radius: 34px;
	}

	.switch-slider.round::before {
		border-radius: 50%;
	}
}
