@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

// loader
.loader {
	&__overlay {
		background: rgba(255, 255, 255, 0.9);
		position: absolute;
		height: 100%;
		width: 100%;
		z-index: 9999;
		display: flex;
		align-items: center;

		.loader {
			border: $mm-loader-size solid $mm-loader-internal-bg;
			border-top: $mm-loader-size solid $mm-loader-external-bg;
			border-radius: 50%;
			width: 120px;
			height: 120px;
			display: flex;
			animation: spin 2s linear infinite;
			margin: 0 auto;
		}
	}
}
