.mm {
    &__search {

        &-icon-search {
            position: relative;
            top: -4px;
            svg {
                top: 4px;
                position: relative;
            }
        }

        &-no-result {
            h3 {
                font-size: em(24px);
                font-family: $font-family-base;
                font-weight: 400;
            }
        }

        &-container {
            display: grid;
            margin: em(38px) 0 0 0;
            grid-template-columns: 3fr 1fr;
            column-gap: 4em;
            box-sizing: border-box;
            width: 100%;
            align-items: center;
            height: 4em;
        }

        // Breadcrumb
        &-breadcrumb {
            float: right;
        }

        // Actions
        &-actions {
            float: right;
            text-align: right;

            ul {
                display: inline-flex;

                li {
                    display: flex;
                    margin-right: em(18px);

                    &.separator {
                        border-right: 1px solid #ECECEC;
                        padding-right: em-calc(10px);
                    }

                    a {
                        &:hover {
                            transform: scale(1.1);
                            transition: all 0.2s ease-in-out;
                        }

                        &.active {
                            opacity: 0.25;
                        }
                    }
                }
            }
        }

        &-term {
            position: relative;

            input {
                width: 100%;
                display: inline-block;
                background: $mm-form-input-bg;
                border-radius: 24px;
                border: none;
                padding: 12px;
                min-height: em(30px);
                box-sizing: border-box;
                &::placeholder {
                    font-family: $font-family-base;
                    font-size: em(16px);
                    color: $mm-form-placeholder;
                }
            }

            svg {
                right: 1em;
                position: relative;
            }

            div {
                position: absolute;
                top: 0.5em;
                right: 0;
            }
        }

        // Filters Dropdowns
        &-select {
            background: url('/images/icon-select.svg');
            background-repeat: no-repeat;
            background-position: center right 1em;
            -moz-appearance: none;
            -webkit-appearance: none;
            appearance: none;
            font-family: $font-family-base;
            font-size: em(14px);
            font-weight: 100;
            box-sizing: border-box;
            padding: em(10px) em(120px) em(10px) em(10px);
            border: 1px solid $mm-form-select-border;
            border-radius: 4px;
            color: #616161;
            line-height: 19px;
            cursor: pointer;

            &:last-child {
                margin-left: 1em;
            }
        }
    }

    &__results {
        &-grid {
            display: grid;
            column-gap: $grid-gutter-results;
            row-gap: $grid-gutter-results;
            grid-template-columns: repeat(4, 1fr);
            padding: em(21px) 0;
        }

        &-single {
            position: relative;
            border: 2px solid transparent;
            transition: all 0.2s ease-in-out;

            &.hide {
                display: none;
            }

            // Active Directory
            &.active {
                transition: all 0.2s ease-in-out;
                border-radius: em(5px);
                border: 2px solid $mm-card-selected;
                box-shadow: 0 1px 1px 0 rgba(59, 72, 77, 0.08), 0 1px 3px 1px rgba(59, 72, 77, 0.16);
            }
        }

        &-empty {
            display: grid;
            padding: em(21px) 0;
            background-color: #F5F5F5;
            height: 400px;
            margin-top: 1em;
            text-align: center;
        }
    }

}
