// Grid & Container Elements
// ------------------------------------------------------

.mm {
	.columns {
		display: grid;

		&__1 {
			grid-template-columns: repeat(1, 1fr);
		}

		&__2 {
			grid-template-columns: repeat(2, 1fr);
		}
	}
}
