// Text Helper
// ------------------------------------------------------
.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}
// Spacing Helper
// ------------------------------------------------------
.margin {
	&__top {
		margin-top: 1em;
	}

	&__bottom {
		margin-top: 1em;
	}
}
