// Imports [ Fonts]
// ------------------------------------------------------
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

// Colors
// --------------------------------
$mm-bg-color            :       #FFFFFF;
$mm-header-bg-color     :       #E3E2ED;

// Card
$mm-card-selected       :       #42329C;

// Form
$mm-form-placeholder    :   #616161;
$mm-form-input-bg       :   #F9F9F9;
$mm-form-select-border  :   #DEDEDE;
$mm-form-border-color   :   #CACACA;
$mm-form-separator      :   #E2E2E2;

// Slidepanel
$mm-slidepanel-bg       :      #FFFFFF;
$mm-slidepanel-label-color   :  #6D6D6D;
$mm-slidepanel-strong-color   :   #222222;

// Fonts
// ------------------------------------------------------
$font-family-header     :    'Barlow', sans-serif;
$font-family-base       :    'Open Sans', sans-serif;

$base-font-size         :     16px;

// Dimensions
// ------------------------------------------------------
$grid-gutter-results       :        20px;
